.container {
    width: 80%;
}

.cabecalho {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 5rem 0rem 1rem 0rem;
}

.cabecalho h1 {
    width: 100%;
    margin-left: 1rem;
    font-size: 2rem;
    color: #263D8A; 
}

.btn-icone i {
    color: #263D8A;
    font-size: 1.5rem; 
}

.btn-icone i:hover {
  cursor: pointer;
}

.btn-palavra{
    width: 10rem;
    background-color: #263D8A;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.188rem 1.125rem;
    display: flex;
    align-items: center;
}

.btn-palavra i {
    color: #fff;
}

.btn-palavra p{
    margin-left: 1rem;
    margin-bottom: 0px;
    padding: 0;
    align-items: center;
    display: inline;
}

.td-texto{
    width: 90%;
}

.pagination-letras button {
    width: 3rem;
    background-color: #BDE5FD;
    color: #498AC7;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-left: none;
    border-bottom: 1px solid #ccc;
    border-right: none;
    border-radius: 1px;
}

.pagination-letras{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}