.container {
    width: 80%;
}

.cabecalho {
    width: 16rem;
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin: 2rem 0rem 2rem 1rem; 
}

.cabecalho h1 {
    margin: 0;
    font-size: 2rem;
    color: #263D8A; 
}

.btn-icone i {
    color: #263D8A;
    font-size: 1.5rem; 
}

.btn-icone i:hover {
  cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit; 
}