.container {
    width: 80%;
}

.cabecalho {
    width: 16rem;
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin-top: 2rem; 
}

.cabecalho h1 {
    margin: 0;
    font-size: 2rem;
    color: #263D8A; 
}

.btn-icone i {
    color: #263D8A;
    font-size: 1.5rem; 
}