
<div class="container">

    <div class="cabecalho">
    <h1 class="texto"
        [style.color]="dictionary?.cor_titulo">
      {{ dictionary?.nome }}
    </h1>
    <span class="btn-icone" title="Palavras" [style.color]="dictionary.cor_icone">
      <i class="bi bi-alphabet"></i>
    </span>
    
    <span class="btn-icone" title="Configurar" [style.color]="dictionary.cor_icone">
      <i class="bi bi-gear-fill"
></i>
    </span>
  </div>

    <hr>

    <div class="pagination-letras">
  
        @if (letras.length > 1) {

    @for (letra of letras; track letra) {
      <button
        [class.selected]="letra === letraSelecionada"
        (click)="filtrarPorLetra(letra)">
        {{ letra }}
      </button>
    }

    <button
      [class.selected]="letraSelecionada === ''"
      (click)="filtrarPorLetra('')">
      Todos
    </button>
  }
</div>

    <table class="table table-striped">
  <tbody>
    @for (palavra of palavrasPaginadas; track palavra.id) {
      <tr>
        <td class="td-nome-palavra">
        <div class="td-texto">
          {{ palavra.texto }}
        </div>

        <div class="td-vermais" style="width:10%; text-align:right;">
          <button class="btn-vermais">ver mais</button>
        </div>

        {{ palavra.definicao }}

        </td>
      </tr>
    }
  </tbody>
</table>

</div>